<h1>My Recipes</h1>
<%= link_to "Add New Recipe", new_user_recipe_path, class: "btn btn-primary mb-2" %>

<% if @recipes.empty? %>
  <p>You have no recipes yet.</p>
<% else %>

  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <h3><%= recipe.name %></h3>
        <p><%= recipe.description %></p>
        <%= link_to "View Recipe", user_recipe_path(id: recipe.id, user_id: recipe.user.id) %>

        <% if current_user == recipe.user %>
        <%= button_to "Delete", user_recipe_path(recipe.user, recipe.id), method: :delete, class: "btn btn-danger m-3 ms-4" %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
