<h1>Create a New Recipe</h1>
<% if @recipe.errors.any? %>
  <div class="post-errors-box">
    <p><%= pluralize(@recipe.errors.count, "error") %> found:</p>

    <ul class="recipe-errors-ul">
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>

<%= form_with model: @recipe, url: "/users/#{current_user.id}/recipes", method: :post do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
  <%= form.label :preparation_time %>
  <%= form.text_field :preparation_time %>
  </div>

<div class="field">
  <%= form.label :cooking_time %>
  <%= form.text_field :cooking_time %>
</div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field form-control mt-3">
        <%= form.check_box(:public, { class: "form-check-input" }, true, false) %>
        <%= form.label "Public", class: "form-check-label" %>
    </div>

  <div class="actions">
    <%= form.submit "Create Recipe" %>
  </div>
<% end %>
