<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Food List</h1>

    <% if current_user %>
      <%= link_to 'Add New Food', new_food_path, class: "btn btn-primary" %>
    <% else %>
      <p>You cannot add new food as your group has three or more members.</p>
    <% end %>
  </div>

  <% if @foods.empty? %>
    <p>No foods added yet.</p>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Measurement Unit</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.name %></td>
            <td><%= food.quantity %></td>
            <td><%= food.measurement_unit %></td>
            <td><%= number_to_currency(food.price) %></td>
            <td>
              <% if current_user %>
                <%= form_with(model: food, url: food_path(food), method: :delete, data: { confirm: 'Are you sure you want to delete this food item?' }) do |form| %>
                  <%= form.submit 'Delete', class: 'btn btn-danger btn-sm' %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
